*.settings
*.classpath
*.project
*/bin
*/target
/target
/bin
*rebel.xml
.idea
*.iml
*.iml
*/node_modules
*.project
*/typings
*npm-debug.log
*/dist
*.log
*bin/
*.vscode/*
*hsql/*


# Arquivos do projeto angular
**/dist
**/typings
**/node_modules
npm-debug.log
**/src/**/*.js
**/src/**/*.map
prontuario-eletronico-services/prontuario_200_.pdf
prontuario-eletronico-services/temporario.pdf
